.container{
    max-width: 1100px;
}
#ground{
    height: 750px; 
    width: 1100px; 
    border:solid 1px #060;
} 
 #GameName{
    width: 1100px; 
    font-size:50px;
    color: coral;
    font-weight: bolder;
    text-shadow: #000 3px 3px;
    text-align: center;
    
}
/*#GameState{
    font-size:  75px;
    color: red;
    font-weight: bolder;
    text-shadow: #000 5px 5px;
} */